[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
boto3 = "*"
pandas = "==1.2.4"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.8"
